{% if site.footer_scripts %} {% for script in site.footer_scripts %}
<script src="{{ script | relative_url }}"></script>
{% endfor %} {% else %}
<script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
{% endif %} {% if site.search == true or page.layout == "search" %} {%- assign
search_provider = site.search_provider | default: "lunr" -%} {%- case
search_provider -%} {%- when "lunr" -%} {% include_cached
search/lunr-search-scripts.html %} {%- when "google" -%} {% include_cached
search/google-search-scripts.html %} {%- when "algolia" -%} {% include_cached
search/algolia-search-scripts.html %} {%- endcase -%} {% endif %} {% include
analytics.html %} {% include /comments-providers/scripts.html %}

<script
  type="text/javascript"
  async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML"
></script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>

<!-- Clipboard.js 추가 -->
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
<script>
  // Initialize Clipboard.js
  var clipboard = new ClipboardJS(".copy-button");

  // Success event handling (optional)
  clipboard.on("success", function (e) {
    e.trigger.textContent = "Copied!";
    setTimeout(function () {
      e.trigger.textContent = "Copy";
    }, 2000); // Reset button text after 2 seconds

    e.clearSelection();
  });

  // Error event handling (optional)
  clipboard.on("error", function (e) {
    console.error("Action:", e.action);
    console.error("Trigger:", e.trigger);
  });
</script>

{% if site.after_footer_scripts %} {% for script in site.after_footer_scripts %}
<script src="{{ script | relative_url }}"></script>
{% endfor %} {% endif %}
